WebContent/xmlsource/ch4/c4_1203.dtd

<?xml version="1.0" encoding="euc-kr"?>

<!-- 외부 일반 엔티티 선언 -->
<!ENTITY kind SYSTEM "c4_1203_1.xml">

<!-- 엘리먼트 선언 -->
<!ELEMENT booklist (kinds, book*)>
	<!ELEMENT kinds (kind*)>
		<!ELEMENT kind (#PCDATA)>
	<!ELEMENT book (title, author)>
		<!ELEMENT title (#PCDATA)>
		<!ELEMENT author (#PCDATA)>

<!-- 속성 선언 -->
<!ATTLIST kind
		id		ID		#REQUIRED>
<!ATTLIST book
    id		ID		#REQUIRED
		kind	IDREF #REQUIRED>