WebContent/xmlsource/ch4/c4_1204.dtd

<?xml version="1.0" encoding="euc-kr"?>

<!-- 내부 파라미터 엔티티 선언 -->
<!ENTITY % maninfo "(name, age, tel)">

<!-- 엘리먼트 선언 -->
<!ELEMENT members (chief|manager|waiter)*>
	<!ELEMENT chief %maninfo;>
	<!ELEMENT manager %maninfo;>
	<!ELEMENT waiter %maninfo;>

	<!ELEMENT name (#PCDATA)>
	<!ELEMENT age (#PCDATA)>
	<!ELEMENT tel (#PCDATA)>