WebContent/xmlsource/ch4/c4_1205.dtd

<?xml version="1.0" encoding="euc-kr"?>

<!-- 외부 파라미터 엔티티 선언 -->
<!ENTITY % maninfo_element SYSTEM "c4_1205_1.dtd">

<!-- 외부 파라미터 엔티티 참조 -->
%maninfo_element;

<!-- 엘리먼트 선언 -->
<!ELEMENT members (chief|manager|waiter)*>
	<!ELEMENT chief %maninfo;>
	<!ELEMENT manager %maninfo;>
	<!ELEMENT waiter %maninfo;>